/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #90caf9;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 999;
}
.sidebar.active {
  width: 200px;
}
.sidebar a {
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.2s;
}
.sidebar a:hover {
  background-color: #64b5f6;
  color: white;
}
/* Hamburger icon */
.hamburger {
  font-size: 26px;
  cursor: pointer;
  margin-right: 10px;
}

/* Navbar */
#navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-right: 30px;
}

#navbar ul li a {
  text-decoration: none;
  color: #0d47a1;
  font-size: 18px;
  font-weight: bold;
}

/* ========== Header ========== */
body {
    background-color: #e0f7fa;
    line-height: 1.6;
    scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b3e5fc;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #0288d1;
  letter-spacing: 1px;
}

/*container*/
.dash-container {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 40px;
}
.dash-container > div {
  background-color: #075985;
  color: white;
  padding: 30px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.total, .attempts, .avg {
  background: white;
  border: 1px solid #095076;
  padding: 1rem;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 5px #228bc4;
}
.total, .attempts, .avg h3 {
  background: #095076;
  padding: 0.5rem;
  margin: -1rem -1rem 1rem -1rem;
  color: white;
}




/* Responsive fix if needed */
@media screen and (max-width: 768px) {
  #navbar ul {
    flex-direction: column;
    gap: 10px;
  }
}
